{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
        "react",
        "^react(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/styles/(.*)$",
        "^@/utils/(.*)$",
        "^@fontsource/(.*)$",
        "^@testing-library/react(.*)$",
        "^@testing-library/user-event(.*)$",
        "^.$",
        "^./(.*)$",
        "^../(.*)$"
    ]
}
